/* Profile */
.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url("http://profilepicturesdp.com/wp-content/uploads/2018/07/empty-profile-picture-icon-5.png") center no-repeat;
  background-size: cover;
}

.top-buffer {
  margin-top: 20px;
}

.ordered {
  background: url('../images/svg/shopping-cart.svg');
}

.shipped {
  background: url('../images/svg/shipped.svg');
}

.delivered {
  background: url('../images/svg/delivered.svg');
}

.phone {
  background: url('../images/svg/phone.svg');
}

.mail {
  background: url('../images/svg/mail.svg');
}

.icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-size: cover;
}

.icon-big {
  height: 50px;
  width: 50px;
  display: block;
  background-size: cover;
}

.nav-bar {
  margin: 15px;
}

.full-btn {
  width: 90%;
}

.circle {
  height: 150px;
  color: #816b4c;
  border: 2px solid #b8a07e;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  position: absolute;
  transform: rotate(350deg);
}

.child {
  top: 50%;
  left: 50%;
}

.align-left {
  margin-left: 5px;
}
