<!-- start subscription section -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-5">
            <div class="subscribe">
              <h2 class="mb-30">Sucscribe to Our Newsletter</h2>
<form action="https://parisu.us19.list-manage.com/subscribe/post?u=8720d7795bea62e5b87c57942&amp;id=2db71d7cc4" method="post"
id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="contactForm" target="_blank"
role="form">
              <form action="" method="post" role="form" class="contactForm">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
<input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Your Email"
                        data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validation"></div>
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8720d7795bea62e5b87c57942_2db71d7cc4"
        tabindex="-1" value=""></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
<input type="submit" name="subscribe" id="mc-embedded-subscribe"  class="btn btn-defeault btn-send" value="Subscribe">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start subscription section -->

<!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup {
      background: #fff;
      clear: left;
      font: 14px Helvetica, Arial, sans-serif;
    }

    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="https://parisu.us19.list-manage.com/subscribe/post?u=8720d7795bea62e5b87c57942&amp;id=2db71d7cc4"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe to our mailing list</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8720d7795bea62e5b87c57942_2db71d7cc4"
            tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->