<div id="detail-page-extras" class="col-lg-12">
    <h2 class="mb-30 text-center">Categories</h2>
    <form method='POST' onSubmit='saveCategoriesDetails();return false;'>
        <div class="col-lg-12">
            <div class="form-group contact-block1">
                <input type="button" data-selected="false" class="btn-categories" value="Mystery">
                <input type="button" data-selected="false" class="btn-categories" value="Romantic">
                <input type="button" data-selected="false" class="btn-categories" value="Si-Fi">
                <input type="button" data-selected="false" class="btn-categories" value="Adult Comedies">
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group contact-block1">
                <input type="text" class="form-control" id="phone" placeholder="Phone Number" data-rule="required"
                    data-msg="Please enter valid mobile number" />
                <div class="validation"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <input type="submit" class="btn btn-defeault btn-send" value="Next">
        </div>
    </form>
</div>