<script src='https://www.google.com/recaptcha/api.js'></script>
<div id="detail-page-delivery" class="col-lg-12">
    <h2 class="mb-30 text-center">Delivery Details</h2>
    <form method='POST' onSubmit='PopUp.Utilities.saveDeliveryDetails();
    {{#if categories}} PopUp.Utilities.showPopForm{{else}}PopUp.Utilities.openSubscriptionPage(); {{/if}}return false;'>
        <div class="col-lg-12">
            <div class="form-group contact-block1">
                <input type="text" class="form-control" id="phone" placeholder="Phone Number" data-rule="required"
                    data-msg="Please enter valid mobile number" />
                <div class="validation"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" id="dob" placeholder="email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <textarea class="form-control" rows="12" data-rule="required" data-msg="Please enter a valid address"
                    placeholder="Address*"></textarea>
                <div class="validation"></div>
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6Lf-qH8UAAAAAPQ8Xqj34d337GnWsn0saMCqdMtK"></div>
        <div class="col-lg-12">
            <input type="submit" class="btn btn-defeault btn-send" value="Next">
        </div>
    </form>
</div>