<div class="col-lg-12">
    <h2 class="mb-30 text-center">Personal Details</h2>
    <form id="detail-page-personal" method='POST' onSubmit='PopUp.Utilities.savePersonalDetails(this.id);
        PopUp.Utilities.showPopForm("delivery");return false;'>
        <div class="col-lg-12">
            <div class="form-group contact-block1">
                <input type="text" class="form-control" name="name" placeholder="Your Name*" data-rule="required"
                    data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" name="dob" placeholder="Date of Birth" data-rule="required"
                    data-msg="Please enter your Date of Birth" />
                <div class="validation"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" name="gender" placeholder="Gender" data-rule="required" data-msg="Please select your Gender" />
                <div class="validation"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <input type="submit" class="btn btn-defeault btn-send" value="Next">
        </div>
    </form>
</div>
<script>
    $('#dob').datepicker();
</script>